body {
    text-align: center;
    background-image: url(../img/istockphoto-121373476-170667a.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.stopwatch {
    margin-top: 50px;
    margin-left: 50%;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5%;
    width: 70px;
    background-color: rgba(179, 128, 17, 0.795);
    font-size: 25px;
    transform: translate(-50%, -55%);
}

.smiley-container {
    width: 100%;
    font-size: xxx-large;
    cursor: pointer;
}

.lives-container {
    display: inline-block;
    font-size: x-large;
}

.hints-container {
    display: inline-block;
    font-size: xx-large;
    cursor: pointer;
    margin-bottom: 10px;
}

.high-score-container {
    font-family: sans-serif;
    background-color: rgb(255 200 61);
    border: solid 2px black;
    height: 52px;
    margin: auto;
    margin-top: 10px;
    width: 229px;
    border-radius: 20%;
}

.game {
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: rgba(214, 214, 214, 0.747);
}

.board {
    inline-size: auto;
}

.board td {
    padding: 0;
    width: 25px;
    height: 25px;
    transition: 0.2s;
}

.board td:hover {
    background-color: rgba(252, 217, 203, 0.452);
    cursor: pointer;
}

.is-shown {
    background: linear-gradient(to top, rgb(172, 171, 171), rgb(255, 252, 247));
    outline: 2px solid rgba(0, 0, 0, 0.068);
}

.explosion {
    background: linear-gradient(rgba(179, 4, 4, 0.705), rgba(255, 187, 0, 0.623), rgba(179, 4, 4, 0.671));
    outline: 2px solid rgba(0, 0, 0, 0.068);
}

button {
    margin: 8px;
    border-radius: 10%;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    font-size: medium;
    margin-bottom: 40px;
}

button:hover {
    background-color: rgb(168, 168, 168);
    outline: 2px solid rgba(0, 0, 0, 0.267);
    cursor: pointer;
}

.footer {
    width: 100%;
    height: 3%;
    background-color: rgba(197, 197, 197, 0.548);
    color: white;
}